{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TALLER MACKUYN</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
    <!-- Compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <!-- Minified JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <style>
        /* Estilo para los espacios de escritura */
        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            max-width: 400px; /* Ancho máximo */
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <!-- Header Section -->
    <header class="bg-dark py-5">
        <div>
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="{% url 'app_taller:index' %}">TALLER MACKUYN</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" href="{% url 'app_taller:register' %}">CREAR CUENTA</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'app_taller:login' %}">INGRESAR</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'app_taller:productos' %}">PRODUCTOS</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'app_taller:contacto' %}">CONTACTANOS</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'app_taller:quienessomos' %}">QUIENES SOMOS</a></li>
                        </ul>
                        <form class="d-flex">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                SHOP
                                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">REGISTRO</h1>
            </div>
        </div>
    </header>

    <!-- Formulario de Registro -->
    <div class="container">
        <h2>CREA TU CUENTA</h2>
        <form action="register.php" method="POST" onsubmit="return validarFormulario(event)">
            <div><input type="text" name="username" id="username" placeholder="Nombre de Usuario" required></div>
            <div><input type="email" name="email" id="email" placeholder="Correo Electrónico" required></div>
            <div><input type="password" name="password" id="password" placeholder="Contraseña" required></div>
            <div><input type="password" name="confirm_password" id="confirm_password" placeholder="Repite tu contraseña" required></div>
            <input type="submit" value="Registrarse">
            <p class="warnings" id="warnings"></p>
        </form>
        <div id="success-message" class="alert alert-success" style="display:none;">Cuenta creada con éxito</div>
        <div class="login-link">
            <a href="login.html">¿Ya tienes una cuenta? Inicia sesión aquí</a>
        </div>
    </div>
</body>
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">© 2024 TALLER MACKUYN. Todos los derechos reservados.</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'app_taller/js/scripts.js' %}"></script>
</html>